@import url('https://fonts.googleapis.com/css?family=Alegreya|Righteous');
body{
	margin: 0 auto;
	font-family: Alegreya, serif;
	font-size: 18px;
}
h1, h2, h3{
	margin: 0 auto;
	text-align: center;
}
h1{ padding: 20px; background-color: rgba(0,0,0,0.5); color: #FFF}
h2, h3 { padding: 10px; }
h1 { font-size: 40px; font-family: Righteous, cursive; }
h2 { font-size: 32px; }
h3{ font-size: 24px; color: #fff; background-color: #333; margin-bottom: 10px; }
p{ line-height: 1.5;}
.bold{ font-weight: bold; }
.banner{
	background-image: url("../img/chessbg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 500px;
}
.introduction{ padding: 10px; }
[class^="hours-"]{
	width: 33.33%;
	float: left;
	color: #000;
	//border: 1px dotted black;
	padding: 10px;
}
.contact{
	background-color: #333;
	color: #FFF;
	padding: 10px;
	text-align: center;
}
footer{
	text-align: center;
	padding: 20px;
	font-size: 18px;
}
.social-media img{
	width: 50px;
	height: 50px;
}

@media only screen and (max-width: 768px){
	body{
		font-size: 14px;
	}
	h1{ font-size: 32px; }
	h2{ font-size: 24px; }
	h3{ font-size: 16px; }
	[class^="hours-"]{
		width: 100%;
	}
}